<h1 class=curiosity-title>The Goldbach Conjecture</h1>
<div>
  Any even number can be expressed as the sum of two primes. We define this
  pair of primes as the <b>Goldbach Factors</b>. Test it out yourself!
</div>
<br>
<div class="goldbach-factorization-history" ng-show="main.goldbach.history.length > 0">
  Previous queries:
  <br>
  <div ng-repeat="prevResult in main.goldbach.history">
    {{prevResult.n}} = {{prevResult.primeOne}} + {{prevResult.primeTwo}}
  </div>
</div>
<div class="goldbach-factorizer">
  <div>
    <label>
      Enter an even number:
      <input type="text" ng-model="main.goldbach.n">
    </label>
  </div>
  <md-button class="md-raised md-primary" ng-click="main.goldbach.gbSplit()">
    Compute prime pair!
  </md-button>
  <div ng-show="!main.goldbach.recentResult.success">
    {{main.goldbach.recentResult.message}}
  </div>
  <div ng-show="main.goldbach.recentResult.success">
    The Goldbach factors are {{main.goldbach.recentResult.primeOne}} and
    {{main.goldbach.recentResult.primeTwo}}.
  </div>
</div>
<br>
<div>
  It's interesting to note that the Goldbach conjecture implies the
  existence of a function $f$ that maps a pair of primes $(p,q)$ to an even
  number $n$. However, such a function cannot be a one-to-one mapping.
</div>
<br>
<div>
  Take for example the number 14. There are two pairs of primes such that
  their sum is equal to 14:
  $$
  (3,11): 3 + 11 = 14 \\
  (7,7): 7 + 7 = 14
  $$
  This implies that $f(3,11) = f(7,7) = 14$.
</div>
<br>
<div>
  In math, we call a one-to-one mapping a bijective function, or just a
  bijection. We care about bijections because their inverses map to
  exactly one element. However, in our case there is no straightforward
  way of inverting $f$. Every even number must have at least one prime
  pair solutions. Such a function is said to be surjective.
</div>
