<h1>The Goldbach Conjecture</h1>
<div>
  Any even number can be expressed as the sum of two primes. We define this
  pair of primes as the <b>Goldbach Factors</b>. Test it out yourself!
</div>
<br>
<div>
  <label>
    Enter an even number:
    <input type="text" ng-model="main.goldbach.n">
  </label>
</div>
<md-button class="md-raised md-primary" ng-click="main.goldbach.gbSplit()">
  Compute prime pair!
</md-button>
<div ng-show="!main.goldbach.results.success">
  {{main.goldbach.results.message}}
</div>
<div ng-show="main.goldbach.results.success">
  The Goldbach factors are {{main.goldbach.results.primeOne}} and
  {{main.goldbach.results.primeTwo}}.
</div>
