body {
  font-family: 'Open Sans';
}

.toolbar-header {
  text-align: center;
}

.curiosities-list-pane {
  margin-left: 10px;
}

.curiosity-content-pane {
  margin-left: 10px;
}

.curiosity-series-welcome {
  width: 50%;
}

.curiosity-title {
  text-align: center;
}
